<style type="text/css">


h1{
	color: purple;
	font-size: 90px;
	text-decoration: underline;
}

body
{
	background-color: red; 
}

.small{
	font-size: 10px;
}

h2{
	font-size: 22px;
	color: green; 
}

span{

	font-style: italic;
}

h2 span{

	text-decoration: line-through;
}

</style>